<div class="panel panel-default panel-card panel-card--purple">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <strong>Utiliza App</strong>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row panel-card__item">
      <div class="col-xs-8">Qtd. consultas</div>
      <div class="col-xs-4 text-right">6</div>
    </div>
    <div class="row panel-card__item">
      <div class="col-xs-8">Qtd. antecipações</div>
      <div class="col-xs-4 text-right">0</div>
    </div>
    <div class="row panel-card__item">
      <div class="col-xs-8">Qtd. solicitações de serviços</div>
      <div class="col-xs-4 text-right">1</div>
    </div>
  </div>
  <div class="panel-footer">
    <i>Tem e-mail cadastrado</i>
  </div>
</div>
