.customer {
  .customer__last-visit {
    font-size: 13px;
    color: #757164;
  }

  .customer__last-visit-icon {
    color: #B6B09D;
    margin-left: 5px;
  }

  .customer__address {
    text-transform: uppercase;
    color: #511D52;
  }
}

.selected-filters {
  .label {
    margin: 0 4px 4px 0;
  }
}
