<div class="container-fluid padding-top">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default padding" routerLink="/customer/detail">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-8">
              <strong>Lista de ECs</strong>
            </div>
            <div class="col-xs-4 text-right">
              <strong>Última Visita</strong>
            </div>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item customer" *ngFor="let customer of filteredCustomers">
            <div class="row">
              <div class="col-xs-6">
                <strong>{{ customer.nome }}</strong>
              </div>
              <div class="col-xs-6 text-right customer__last-visit">
                {{ customer.dataUltimaVisita|date:'dd/MM/yyyy' }}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 customer__address">
                {{ customer.cidade }} / {{ customer.bairro }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
