<div class="container-fluid padding-top">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default padding" routerLink="/customer/detail">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <strong>Lista de ECs</strong>
            </div>
            <div class="col-xs-6 text-right">
              <strong>Última Visita</strong>
            </div>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-6">
                <strong>Nome do Estabelecimento</strong>
              </div>
              <div class="col-xs-6 text-right">
                25/01/2015
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                Porto Alegre / Tristeza
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
