<div class="filters">
  <nav class="navbar navbar-fixed-top filters__header">
    <header>
      <div class="navbar-brand">
         <strong>Filtros</strong>
      </div>
    </header>
  </nav>
  <div class="container-fluid filters__content">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" placeholder="Pesquisa Rápida" [formControl]="formGroup.controls['pesquisaRapida']">
      <i class="glyphicon glyphicon-search form-control-feedback"></i>
    </div>
    <div class="form-group">
      <label for="utiliza-app">Utiliza APP</label>
      <select class="form-control" id="utiliza-app" [formControl]="formGroup.controls['utilizaApp']">
        <option [value]="selectFilterStatus.notApplied">N/A</option>
        <option [value]="selectFilterStatus.active">Sim</option>
        <option [value]="selectFilterStatus.inactive">Não</option>
      </select>
    </div>
    <div class="form-group">
      <label for="antecipacao-automatica">Antecipação automática</label>
      <select class="form-control" id="antecipacao-automatica" [formControl]="formGroup.controls['antecipacaoAutomatica']">
        <option [value]="selectFilterStatus.notApplied">N/A</option>
        <option [value]="selectFilterStatus.active">Possui</option>
        <option [value]="selectFilterStatus.inactive">Não possui</option>
      </select>
    </div>
    <div class="form-group">
      <label for="limite-recarga">Limite de recarga</label>
      <select class="form-control" id="limite-recarga" [formControl]="formGroup.controls['limiteRecarga']">
        <option [value]="selectFilterStatus.notApplied">N/A</option>
        <option [value]="selectFilterStatus.active">Possui</option>
        <option [value]="selectFilterStatus.inactive">Não possui</option>
      </select>
    </div>
    <div class="form-group">
      <label for="campanha-churn">Campanha churn</label>
      <select class="form-control" id="campanha-churn" [formControl]="formGroup.controls['campanhaChurn']">
        <option [value]="selectFilterStatus.notApplied">N/A</option>
        <option [value]="selectFilterStatus.active">Sim</option>
        <option [value]="selectFilterStatus.inactive">Não</option>
      </select>
    </div>
    <div class="form-group">
      <label for="quantidade-maquinas">Quantidade de máquinas</label>
      <select class="form-control" id="quantidade-maquinas"  [formControl]="formGroup.controls['quantidadeMaquinas']">
        <option [value]="selectFilterStatus.notApplied">N/A</option>
        <option value="1">1 máquina</option>
        <option value="2">2 máquina</option>
        <option value="3">3 máquina</option>
        <option value="4">4 máquina</option>
        <option value="5">5 máquina</option>
        <option value="6">6 máquinas ou mais</option>
      </select>
    </div>
    <div class="form-group">
      <label for="grupo-economico">Grupo Econômico</label>
      <input type="text" id="grupo-economico" class="form-control" placeholder="Digite o termo da sua pesquisa" [formControl]="formGroup.controls['grupoEconomico']">
    </div>
  </div>
</div>
