<div class="panel panel-default panel-card" *ngIf="estabelecimento">
  <div class="panel-heading">
    <div class="row panel-card__title">
      <div class="col-xs-6">
        <strong>Taxas vigentes</strong>
      </div>
      <div class="col-xs-6 text-right">
        <strong>%</strong>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row bottom-dotted padding-bottom">
      <div class="col-xs-6">
        <strong>Débito</strong>
      </div>
      <div class="col-xs-6 text-right">{{ estabelecimento.taxaVigenteDebito | number }} %</div>
    </div>
    <div class="row bottom-dotted padding-bottom padding-top">
      <div class="col-xs-6">
        <strong>Crédito a vista</strong>
      </div>
      <div class="col-xs-6 text-right">{{ estabelecimento.taxaVigenteCreditoAVista | number }} %</div>
    </div>
    <div class="row bottom-dotted padding-bottom padding-top">
      <div class="col-xs-6">
        <strong>Crédito 2 a 3</strong>
      </div>
      <div class="col-xs-6 text-right">{{ estabelecimento.taxaVigenteCredito2A3 | number }}%</div>
    </div>
    <div class="row bottom-dotted padding-bottom padding-top">
      <div class="col-xs-6">
        <strong>Crédito 4 a 6</strong>
      </div>
      <div class="col-xs-6 text-right">{{ estabelecimento.taxaVigenteCredito4a6 | number }} %</div>
    </div>
    <div class="row padding-bottom padding-top">
      <div class="col-xs-6">
        <strong>Crédito 7 a 12</strong>
      </div>
      <div class="col-xs-6 text-right">{{ estabelecimento.taxaVigenteCredito7a12 | number }} %</div>
    </div>
  </div>
  <div class="panel-footer panel-footer--message" *ngIf="estabelecimento.msgAtencao1">
    <i>{{ estabelecimento.msgAtencao1 }}</i>
  </div>
</div>
