<div class="menu-wrapper">
  <div class="menu-header">
    <div class="menu-header__username text-info">Demo</div>
    <div class="menu-header__user-role">Usuário</div>
  </div>
  <ul class="menu-list list-unstyled">
    <li class="menu-list__item" *ngFor="let menuItem of menuItems">
      <a class="deco-none" (click)="goToAction(menuItem)">
        <i class="fa {{ menuItem.icon }}"></i>
        {{ menuItem.label }}
      </a>
    </li>
    <li class="menu-list__item" (click)="logout()">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Sair
    </li>
  </ul>
</div>
