<div class="panel panel-default panel-card dados-cadastrais">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-9">
        <strong class="dados-cadastrais__nome panel-card__title">{{ estabelecimento.nome }}</strong>
      </div>
      <div class="col-xs-3 text-center">
        <i class="fa fa-circle dados-cadastrais__status-icone status--1"></i>
        <p>Ativo</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="dados-cadastrais__responsavel">Macio pereira de souza</span>
        <span class="dados-cadastrais__telefone">/ (11) 41932500</span>
        <div class="dados-cadastrais__ultima-visita">
          <span class="dados-cadastrais__ultima-visita-label">
            <strong>Última visita:</strong>
          </span>
          {{ estabelecimento.dataUltimaVisita|date:"dd/MM/yyyy" }}
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 dados-cadastrais__endereco">
        <i class="fa fa-map-marker pull-left dados-cadastrais__endereco-icone"></i>
        <p class="dados-cadastrais__endereco-dados pull-left">
          Rua José Bonifácio, 124, loja 8/Sala A<br>
          Bairro SE / CEP: 1003000<br>
          Barueri‐ São Paulo
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <strong class="dados-cadastrais__titulo panel-card__title">Segmentos</strong>
      </div>
      <div class="col-xs-4">
        <strong class="dados-cadastrais__titulo panel-card__title">Grupo</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">03 - EMPRESAS II</div>
      <div class="col-xs-4">-</div>
    </div>
    <div [hidden]="!contentOpened">
      <div class="row">
        <div class="col-xs-8">
          <strong class="dados-cadastrais__titulo panel-card__title">Correntista</strong>
        </div>
        <div class="col-xs-4">
          <strong class="dados-cadastrais__titulo panel-card__title">Agência</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">Não</div>
        <div class="col-xs-4">Indefinido</div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <strong class="dados-cadastrais__titulo panel-card__title">Número ECs no Grupo</strong>
        </div>
        <div class="col-xs-4">
          <strong class="dados-cadastrais__titulo panel-card__title">Regional</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">-</div>
        <div class="col-xs-4">Indefinido</div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div>
            <strong class="dados-cadastrais__titulo panel-card__title">Telefones</strong>
          </div>
          (11) 958499625<br>
          (11) 41932500<br>
          (11) 958499625<br>
          ‐<br>
          (11) 41932500<br>
          (11) 41932500<br>
        </div>
        <div class="col-xs-7">
          <div>
            <strong class="dados-cadastrais__titulo panel-card__title">Data credenciamento</strong>
          </div>
          <div>29/12/2011</div>
          <div class="padding-top">
            <strong class="dados-cadastrais__titulo panel-card__title">E-mail</strong>
          </div>
          <div>habibs275@terra.com.br</div>
        </div>
      </div>
      <div class="row margin-top">
        <div class="col-xs-5 text-secondary">
          <strong class="dados-cadastrais__titulo panel-card__title">Ramo: </strong>
          T&E
        </div>
        <div class="col-xs-7 text-secondary">
          <strong class="dados-cadastrais__titulo panel-card__title">Sub-ramo: </strong>
          Restaurante
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-secondary">
          <strong class="dados-cadastrais__titulo panel-card__title">Tipo: </strong>
          Restaurante
        </div>
      </div>
      <div class="row margin-top dados-cadastrais__responsaveis-cabecalho">
        <div class="col-xs-6">
          <strong class="dados-cadastrais__titulo panel-card__title">Responsável</strong>
        </div>
        <div class="col-xs-6 text-right">
          <strong class="dados-cadastrais__titulo panel-card__title">Tipo</strong>
        </div>
      </div>
      <div class="row bottom-dotted panel-card__item">
        <div class="col-xs-6">MARCIO PEREIRA DE SOUZA</div>
        <div class="col-xs-6 text-right text-secondary">Representante legal</div>
      </div>
      <div class="row bottom-dotted panel-card__item">
        <div class="col-xs-6">RODRIGO PEREIRA DE SOUZA</div>
        <div class="col-xs-6 text-right text-secondary">Sócio</div>
      </div>
      <div class="row panel-card__item">
        <div class="col-xs-6">ALBERTINA BATISTA LAMEIRO</div>
        <div class="col-xs-6 text-right text-secondary">Sócio</div>
      </div>
    </div>
  </div>
  <div class="panel-footer" (click)="toggleContent()">
    {{ contentOpened ? 'Esconder' : 'Ver' }} <strong>detalhes</strong>
  </div>
</div>
