.panel-heading,
.panel-footer {
  background-color: #501E50;
}

.dados-faturamento {
  .dados-faturamento__valor {
    font-size: 20px;
  }
}

.faturamento-total {
  .faturamento-total__titulo {
    font-size: 18px;
  }

  .faturamento-total__qtd-transacoes {
    font-size: 14px;
  }
}

.ticket-medio__titulo {
  font-size: 16px;
}
