<div class="container-fluid padding-top">
  <div class="row">
    <div class="col-xs-12">
      <app-alert-message type="alert-warning">Data da última atualização: 10/03/2017</app-alert-message>
      <app-alert-message *ngIf="customer.campanhaChurn" type="alert-danger">Churn</app-alert-message>
      <app-customer-dados-cadastrais [customer]="customer"></app-customer-dados-cadastrais>
      <app-customer-maquinas-instaladas [customer]="customer"></app-customer-maquinas-instaladas>
      <app-customer-faturamento-total [customer]="customer"></app-customer-faturamento-total>
      <app-customer-faturamento-mensal [customer]="customer"></app-customer-faturamento-mensal>
      <app-customer-taxas-vigentes [customer]="customer"></app-customer-taxas-vigentes>
      <app-customer-antecipacao-automatica [customer]="customer"></app-customer-antecipacao-automatica>
      <app-customer-recarga-habilitada [customer]="customer"></app-customer-recarga-habilitada>
      <app-customer-utiliza-app [customer]="customer"></app-customer-utiliza-app>
    </div>
  </div>
</div>
