<router-outlet name="header" (activate)="handleActivateHeader($event)"></router-outlet>
<div #pageWrapper class="page-wrapper" (touchstart)="handlePageWraperTouchStart($event)">
  <router-outlet></router-outlet>
</div>
<nav [hidden]="true" #menuLeft class="menu">
  <router-outlet name="menu-left" (activate)="handleActivateMenuLeft()" (deactivate)="handleDeactivateMenuLeft()"></router-outlet>
</nav>
<nav [hidden]="true" #menuRight class="menu right">
  <router-outlet name="menu-right" (activate)="handleActivateMenuRight()" (deactivate)="handleDeactivateMenuRight()"></router-outlet>
</nav>
