@import '~bootstrap/less/variables';

.menu {
  background-color: @gray-lighter;
  height: 100%;
  z-index: -1;
}

.page-wrapper {
  padding-top: @navbar-height;
  height: 100%;
  background-color: #fff;
}
