<div class="panel panel-default padding dados-cadastrais">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <strong>Máquinas</strong>
      </div>
      <div class="col-xs-6 text-right">
        <strong>Qtd. Instaladas</strong>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row bottom-dotted padding-bottom">
      <div class="col-xs-6">
        <strong>POS</strong>
      </div>
      <div class="col-xs-6 text-right">4</div>
    </div>
    <div class="row padding-top">
      <div class="col-xs-6">
        <strong>TEF</strong>
      </div>
      <div class="col-xs-6 text-right">0</div>
    </div>
  </div>
</div>
