<div class="panel panel-default padding">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <strong>Taxas vigentes</strong>
      </div>
      <div class="col-xs-6 text-right">
        <strong>%</strong>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row bottom-dotted padding-bottom">
      <div class="col-xs-6">
        <strong>Débito</strong>
      </div>
      <div class="col-xs-6 text-right">1,44%</div>
    </div>
    <div class="row bottom-dotted padding-bottom padding-top">
      <div class="col-xs-6">
        <strong>Crédito a vista</strong>
      </div>
      <div class="col-xs-6 text-right">2,05%</div>
    </div>
    <div class="row bottom-dotted padding-bottom padding-top">
      <div class="col-xs-6">
        <strong>Crédito 2 a 3</strong>
      </div>
      <div class="col-xs-6 text-right">4,20%</div>
    </div>
    <div class="row bottom-dotted padding-bottom padding-top">
      <div class="col-xs-6">
        <strong>Crédito 4 a 6</strong>
      </div>
      <div class="col-xs-6 text-right">4,20%</div>
    </div>
    <div class="row padding-bottom padding-top">
      <div class="col-xs-6">
        <strong>Crédito 7 a 12</strong>
      </div>
      <div class="col-xs-6 text-right">5,05%</div>
    </div>
  </div>
  <div class="panel-footer">
    <i class="texto-atencao">Queda no faturamento superior a 40%. Baixo faturamento por dia. Pode estar concentrando c/ o concorrente.</i>
  </div>
</div>
