<div class="filtros">
  <nav class="navbar navbar-fixed-top filtros__header">
    <header>
      <div class="navbar-brand">
         <strong>Filtros</strong>
      </div>
      <button class="btn btn-link btn-nav pull-right filtros__remove-all" (click)="removerFiltros()">
        <i class="fa fa-times"></i>
      </button>
    </header>
  </nav>
  <div class="container-fluid filtros__content">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" placeholder="Pesquisa Rápida" [formControl]="formGroup.controls['pesquisaRapida']">
      <i class="glyphicon glyphicon-search form-control-feedback"></i>
    </div>
    <div class="form-group">
      <label for="utiliza-app">Utiliza APP</label>
      <select class="form-control" id="utiliza-app" [formControl]="formGroup.controls['utilizaApp']">
        <option [value]="filtroStatus.naoAplicado">N/A</option>
        <option [value]="filtroStatus.ativo">Sim</option>
        <option [value]="filtroStatus.inativo">Não</option>
      </select>
    </div>
    <div class="form-group">
      <label for="antecipacao-automatica">Antecipação automática</label>
      <select class="form-control" id="antecipacao-automatica" [formControl]="formGroup.controls['antecipacaoAutomatica']">
        <option [value]="filtroStatus.naoAplicado">N/A</option>
        <option [value]="filtroStatus.ativo">Possui</option>
        <option [value]="filtroStatus.inativo">Não possui</option>
      </select>
    </div>
    <div class="form-group">
      <label for="utiliza-app">Agenda disponível</label>
      <select class="form-control" id="utiliza-app" [formControl]="formGroup.controls['agendaDisponivel']">
        <option [value]="filtroStatus.naoAplicado">N/A</option>
        <option [value]="filtroStatus.ativo">Sim</option>
        <option [value]="filtroStatus.inativo">Não</option>
      </select>
    </div>
    <div class="form-group">
      <label for="limite-recarga">Limite de recarga</label>
      <select class="form-control" id="limite-recarga" [formControl]="formGroup.controls['limiteRecarga']">
        <option [value]="filtroStatus.naoAplicado">N/A</option>
        <option [value]="filtroStatus.ativo">Possui</option>
        <option [value]="filtroStatus.inativo">Não possui</option>
      </select>
    </div>
    <div class="form-group">
      <label for="campanha-churn">Campanha churn</label>
      <select class="form-control" id="campanha-churn" [formControl]="formGroup.controls['campanhaChurn']">
        <option [value]="filtroStatus.naoAplicado">N/A</option>
        <option [value]="filtroStatus.ativo">Sim</option>
        <option [value]="filtroStatus.inativo">Não</option>
      </select>
    </div>
    <div class="form-group">
      <label for="quantidade-maquinas">Quantidade de máquinas</label>
      <select class="form-control" id="quantidade-maquinas"  [formControl]="formGroup.controls['quantidadeMaquinas']">
        <option [value]="filtroStatus.naoAplicado">N/A</option>
        <option value="1 máquina">1 máquina</option>
        <option value="2 máquinas">2 máquinas</option>
        <option value="3 máquinas">3 máquinas</option>
        <option value="4 máquinas">4 máquinas</option>
        <option value="5 máquinas">5 máquinas</option>
        <option value="6 máquinas ou mais">6 máquinas ou mais</option>
      </select>
    </div>
    <div class="form-group">
      <label for="grupo-economico">Grupo Econômico</label>
      <input type="text" id="grupo-economico" class="form-control" placeholder="Digite o termo da sua pesquisa" [formControl]="formGroup.controls['grupoEconomico']">
    </div>
  </div>
</div>
