@import '../node_modules/bootstrap/less/bootstrap.less';

//== Global configuration
//
//##
body, html {
  height: 100%;
}

button {
   outline: 0 !important;
}

//** Slideout lib
.slideout-menu {
  &.slideout-menu-right {
    left: auto;
  }
}

//== Mixins
//
//##

//** Generate Spacing Classes
@sides: left, right, top, bottom;

.generate-spacing-classes(@i: length(@sides)) when (@i > 0) {
  @side: extract(@sides, @i);
  .padding-@{side} { padding-@{side}: 10px };
  .margin-@{side} { margin-@{side}: 10px };
  .generate-spacing-classes(@i - 1);
}

.generate-spacing-classes();
