// @import '../node_modules/bootstrap/less/bootstrap.less';

//== Global configuration
//
//##
body, html {
  height: 100%;
}

button {
   outline: 0 !important;
}

// removing scrollbar
::-webkit-scrollbar {
    display: none;
}

a {
  &.deco-none {
    color: inherit;
    text-decoration:none;
  }
}

.bottom-dotted {
  border-bottom: 1px dotted #b8b19f
}

//** Loading
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .loading__text {
    color: #757164;
    font-size: 18px;
  }
}

//** Slideout lib
.slideout-menu {
  &.slideout-menu-right {
    left: auto;
  }
}

//== Mixins
//
//##

//** Generate Spacing Classes
@sides: left, right, top, bottom;

.generate-spacing-classes(@i: length(@sides)) when (@i > 0) {
  @side: extract(@sides, @i);
  .padding-@{side} { padding-@{side}: 10px };
  .margin-@{side} { margin-@{side}: 10px };
  .generate-spacing-classes(@i - 1);
}

.generate-spacing-classes();
