<div class="panel panel-default panel-card">
  <div class="panel-heading">
    <div class="row panel-card__title">
      <div class="col-xs-12">
        <strong>Não possui antecipação automática</strong>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row header-divider header-divider--2">
      <div class="col-xs-12">Banco domicílio 341</div>
    </div>
    <div class="row bottom-dotted panel-card__item">
      <div class="col-xs-6">
        <strong>Trava</strong>
      </div>
      <div class="col-xs-6 text-right">
        <strong>Vencimento</strong>
      </div>
    </div>
    <div class="row bottom-dotted panel-card__item">
      <div class="col-xs-6">Master</div>
      <div class="col-xs-6 text-right">20/08/2018</div>
    </div>
    <div class="row panel-card__item">
      <div class="col-xs-6">Visa</div>
      <div class="col-xs-6 text-right">20/08/2018</div>
    </div>
    <div class="row header-divider header-divider--2">
      <div class="col-xs-12">Banco domicílio 33</div>
    </div>
    <div class="row bottom-dotted panel-card__item">
      <div class="col-xs-6">
        <strong>Trava</strong>
      </div>
      <div class="col-xs-6 text-right">
        <strong>Vencimento</strong>
      </div>
    </div>
    <div class="row bottom-dotted panel-card__item">
      <div class="col-xs-6">Master</div>
      <div class="col-xs-6 text-right">20/08/2018</div>
    </div>
    <div class="row panel-card__item">
      <div class="col-xs-6">Visa</div>
      <div class="col-xs-6 text-right">20/08/2018</div>
    </div>
    <div [hidden]="!contentOpened">
      <div class="row header-divider header-divider--2">
        <div class="col-xs-12">Antecipações</div>
      </div>
      <div class="row bottom-dotted panel-card__item">
        <div class="col-xs-6">
          <strong>Automática</strong>
        </div>
        <div class="col-xs-6 text-right">
          R$ 2.334,56
          <div>14 transações</div>
        </div>
      </div>
      <div class="row bottom-dotted panel-card__item">
        <div class="col-xs-6">
          <strong>POS</strong>
        </div>
        <div class="col-xs-6 text-right">
          R$ 2.334,56
          <div>14 transações</div>
        </div>
      </div>
      <div class="row bottom-dotted panel-card__item">
        <div class="col-xs-6">
          <strong>APP</strong>
        </div>
        <div class="col-xs-6 text-right">
          R$ 2.334,56
          <div>14 transações</div>
        </div>
      </div>
      <div class="row bottom-dotted panel-card__item">
        <div class="col-xs-6">
          <strong>Internet Banking</strong>
        </div>
        <div class="col-xs-6 text-right">
          R$ 2.334,56
          <div>14 transações</div>
        </div>
      </div>
      <div class="row panel-card__item">
        <div class="col-xs-6">
          <strong>Call Center</strong>
        </div>
        <div class="col-xs-6 text-right">
          R$ 2.334,56
          <div>14 transações</div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer" (click)="toggleContent()">
    {{ contentOpened ? 'Esconder' : 'Ver' }} <strong>detalhes</strong>
  </div>
</div>
