<div class="panel panel-default padding dados-cadastrais">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <strong>Faturamento (últimos 3 meses)</strong>
      </div>
    </div>
  </div>
  <div class="panel-body faturamento">
    <div class="row bottom-dotted faturamento__item">
      <div class="col-xs-6">
        <i class="fa fa-circle faturamento__status faturamento__status--ativo"></i>
        <strong>Master</strong>
      </div>
      <div class="col-xs-6 text-right">
        R$ 9.971,13
        <i class="fa fa-ellipsis-v text-secondary faturamento__toggle"></i>
      </div>
    </div>
    <div class="row faturamento__conteudo">
      <div class="col-xs-6">M1</div>
      <div class="col-xs-6 text-right">R$ 9.172,57</div>
    </div>
    <div class="row faturamento__conteudo">
      <div class="col-xs-6">M2</div>
      <div class="col-xs-6 text-right">R$ 9.172,57</div>
    </div>
    <div class="row faturamento__conteudo">
      <div class="col-xs-6">M3</div>
      <div class="col-xs-6 text-right">R$ 9.172,57</div>
    </div>
    <div class="row faturamento__divisor">
      <div class="col-xs-12">Transações</div>
    </div>
    <div class="row faturamento__conteudo">
      <div class="col-xs-6">M1</div>
      <div class="col-xs-6 text-right">70</div>
    </div>
    <div class="row faturamento__conteudo">
      <div class="col-xs-6">M2</div>
      <div class="col-xs-6 text-right">70</div>
    </div>
    <div class="row faturamento__conteudo">
      <div class="col-xs-6">M3</div>
      <div class="col-xs-6 text-right">70</div>
    </div>
    <div class="row bottom-dotted faturamento__item">
      <div class="col-xs-6">
        <i class="fa fa-circle faturamento__status faturamento__status--ativo"></i>
        <strong>Visa</strong>
      </div>
      <div class="col-xs-6 text-right">
        R$ 9.971,13
        <i class="fa fa-ellipsis-v text-secondary faturamento__toggle"></i>
      </div>
    </div>
    <div class="row faturamento__item">
      <div class="col-xs-6">
        <i class="fa fa-circle faturamento__status faturamento__status--ativo"></i>
        <strong>Amex</strong>
      </div>
      <div class="col-xs-6 text-right">
        R$ 9.971,13
        <i class="fa fa-ellipsis-v text-secondary faturamento__toggle"></i>
      </div>
    </div>
  </div>
</div>
