<div class="panel panel-default padding dados-cadastrais">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <strong>Faturamento (últimos 3 meses)</strong>
      </div>
    </div>
  </div>
  <div class="panel-body faturamento">
    <app-collapse-content>
      <div class="title">
        <div class="row bottom-dotted faturamento__item">
          <div class="col-xs-6">
            <i class="fa fa-circle faturamento__status faturamento__status--ativo"></i>
            <strong>Master</strong>
          </div>
          <div class="col-xs-6 text-right">
            <span class="faturamento__valor">R$ 9.971,13</span>
            <i class="fa fa-ellipsis-v text-secondary faturamento__toggle"></i>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row faturamento__conteudo">
          <div class="col-xs-6"><i>M-1</i></div>
          <div class="col-xs-6 text-right faturamento__valor">R$ 9.172,57</div>
        </div>
        <div class="row faturamento__conteudo">
          <div class="col-xs-6"><i>M-2</i></div>
          <div class="col-xs-6 text-right faturamento__valor">R$ 9.172,57</div>
        </div>
        <div class="row faturamento__conteudo">
          <div class="col-xs-6"><i>M-3</i></div>
          <div class="col-xs-6 text-right faturamento__valor">R$ 9.172,57</div>
        </div>
        <div class="row faturamento__divisor">
          <div class="col-xs-12">Transações</div>
        </div>
        <div class="row faturamento__conteudo">
          <div class="col-xs-6"><i>M-1</i></div>
          <div class="col-xs-6 text-right">70</div>
        </div>
        <div class="row faturamento__conteudo">
          <div class="col-xs-6"><i>M-2</i></div>
          <div class="col-xs-6 text-right">70</div>
        </div>
        <div class="row faturamento__conteudo">
          <div class="col-xs-6"><i>M-3</i></div>
          <div class="col-xs-6 text-right">70</div>
        </div>
      </div>
    </app-collapse-content>
  </div>
</div>
