<div class="panel panel-default panel-card" *ngIf="estabelecimento">
  <div class="panel-heading">
    <div class="row panel-card__title">
      <div class="col-xs-12">
        <strong>Antecipações</strong>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row panel-card__item bg-destaque margin-top-0">
      <div class="col-xs-6">
        <strong>Agenda disponível</strong>
      </div>
      <div class="col-xs-6 text-right">
        <span *ngIf="estabelecimento.agendaDisponivel">{{ estabelecimento.agendaDisponivel | number:'.0-0' }}</span>
        <span *ngIf="!estabelecimento.agendaDisponivel">-</span>
      </div>
    </div>
    <div class="row bottom-dotted panel-card__item bg-destaque margin-top-0">
      <div class="col-xs-6">
        <strong>Agenda antecipado</strong>
      </div>
      <div class="col-xs-6 text-right">
        <span *ngIf="estabelecimento.percentualAgendaAntecipado">{{ estabelecimento.percentualAgendaAntecipado | number }}</span>
        <span *ngIf="!estabelecimento.percentualAgendaAntecipado">-</span>
        %
      </div>
    </div>
    <div class="row bottom-dotted panel-card__item" *ngFor="let canalFaturamento of estabelecimento.faturamentoCanais">
      <div class="col-xs-6">
        <strong>{{ canalFaturamento.nome }}</strong>
      </div>
      <div class="col-xs-6 text-right">
        R$ {{ canalFaturamento.valor | number:".0-0" }}
        <div>{{ canalFaturamento.qtdTransacoes }} transações</div>
      </div>
    </div>
  </div>
  <div class="panel-footer panel-footer--message" *ngIf="estabelecimento.msgAtencao2">
    <i>{{ estabelecimento.msgAtencao2 }}</i>
  </div>
</div>
